<div class="navbar">
    <div class="logo">
      <img src="../../../assets/iconedigital.jpeg" alt="Logo" class="navbar-logo"> Digital Waiter
    </div>
    <input type="text" placeholder="Buscar..." class="search-bar" />
    <div class="icons">
      <span class="bell-icon">🔔</span>
      <div class="user-info">
        <span class="user-icon">
          <img src="../../../assets/images.png" alt="Usuario" class="user-img"> Usuario
        </span>
      </div>
    </div>
  </div>

<div class="admin-dashboard">
    <div class="sidebar">
        <div class="logo_digital">
            <img src="assets/digitalwaiter.png" alt="Logo Digital Waiter" />
        </div>
        <nav>
            <ul>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/users">Gestión de usuarios</a></li>
                <li><a href="/admin/menu">Gestión de menús</a></li>
                <li><a href="/admin/products">Gestión de personal</a></li>
                <li><a href="/admin/provedores">Gestión de proveedores</a></li>
                <li><a href="/admin/inventory">Control de inventario</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="container">
        <h2>Entradas</h2>
        
        <div class="search-bar">
            <input type="text" placeholder="BUSCAR...">
            <button>🔍</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>PRECIO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flauta</td>
                    <td>Para bailar la bamba se necesita</td>
                    <td>3.20</td>
                    <td>
                        <div class="actions">
                            <button class="btn-edit">📝</button>
                            <button class="btn-delete">🗑️</button>
                        </div>
                    </td>
                </tr>
                <!-- Más filas de ejemplo aquí -->
            </tbody>
        </table>

        <div class="pagination">
            <button>Anterior</button>
            <button>Siguiente</button>
        </div>
    </div>
</div>
