<div class="navbar">
    <div class="logo">
      <img src="../../../assets/iconedigital.jpeg" alt="Logo" class="navbar-logo"> Digital Waiter
    </div>
    <input type="text" placeholder="Buscar..." class="search-bar" />
    <div class="icons">
      <span class="bell-icon">🔔</span>
      <div class="user-info">
        <span class="user-icon">
          <img src="../../../assets/images.png" alt="Usuario" class="user-img"> Usuario
        </span>
      </div>
    </div>
  </div>
  
  <div class="admin-dashboard">
    <div class="sidebar">
      <img src="../../../assets/digitalwaiter.png" alt="Sidebar Image" class="sidebar-img">
      <nav>
        <ul>
          <li><a href="/admin/dashboard">Dashboard</a></li>
          <li><a href="/admin/users">Gestión de usuarios</a></li>
          <li><a href="/admin/menu">Gestión de menús</a></li>
          <li><a href="/admin/products">Gestión de personal</a></li>
          <li><a href="/admin/provedores">Gestión de proveedores</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="main-content">
      <h2>Bienvenido, Administrador</h2>
      <div class="categories">
        <div class="category">
          <img src="../../../assets/user.jpg" alt="Usuarios">
          <div class="label">Usuarios</div>
        </div>
        <div class="category">
          <img src="../../../assets/menus.jpeg" alt="Menús">
          <div class="label">Menús</div>
        </div>
        <div class="category">
          <img src="../../../assets/personal.jpg" alt="Personal">
          <div class="label">Personal</div>
        </div>
        <div class="category">
          <img src="../../../assets/proveedores.jpeg" alt="Proveedores">
          <div class="label">Proveedores</div>
        </div>
      </div>
      <div class="reminders">
        <h3>Recordatorios</h3>
        <table>
          <tr>
            <th>Tarea</th>
            <th>Estado</th>
          </tr>
          <tr>
            <td>Revisar solicitudes de nuevos usuarios</td>
            <td class="pending">Pendiente</td>
          </tr>
          <tr>
            <td>Actualizar precios de productos</td>
            <td class="completed">Completado</td>
          </tr>
          <tr>
            <td>Organizar roles de personal</td>
            <td class="pending">Pendiente</td>
          </tr>
          <tr>
            <td>Agregar nuevos proveedores</td>
            <td class="completed">Completado</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  